table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    position: relative;
}

thead {
    display: table-header-group;
    position: sticky;
    top: 0;
    z-index: 10;
}

thead th {
    background-color: #d9eaf1;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid white;
    padding: 10px;
    font-size: 18px;
}

tbody tr{
}

tbody tr:hover {
    background-color: #eee;
}

tr:nth-child(2n) {
    background-color: #f5f5f5;
}

tr {
    display: table-row;
    border-bottom: 1px solid #e0e0e0;
}

td {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 20px;
}

td input {
    width: 60px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}